<!DOCTYPE html>
<html>
<head>
  <title>Simple form theme</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "simple_form/theme/application", media: "all" %>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div class="container">
  <h1>Tailwind CSS</h1>

  <%= link_to 'Go to Themes', root_path %>
  <%= yield %>
</div>

</body>
</html>
